/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    font-family: Verdana;
    font-size: 12px;
}
.template{
    width: 1000px;
    margin: 0 auto;
}
.clear{
    overflow: hidden;
}
.headsection{
    background: #81201A;
    height: 112px;
}
.leftheader{
    float: left;
    width: 335px;
    margin-left: 20px;
}
.leftheader h2{
    font-family: Georgia;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 25px;
    font-weight: normal;
}
.leftheader p{
    color: #D2D2D2;
}
.rightheader{
    float: right;
    width: 549px;

}
.rightheader ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.rightheader ul li{
    float: left;
    margin-top: 35px;
    margin-right: 39px;
}

.rightheader ul li a{
    text-decoration: none;
    color: #D2D2D2;
    font-size: 16px;
    padding-top: 10px;
    text-transform: uppercase;
}
.rightheader span{
    display: block;
    color: #999999;
    font-family: Arial;
    font-size: 12px;
}
.rightheader ul li a:hover, #active{
    color: #3E0D09;
    border-top: 2px solid #3E0D09;
}
.bannersection{
    background: #3E0D09;
    height: 320px;
    position: relative;
}
.leftbanner{
    float: left;
    width: 515px;
    margin-left: 20px;
}
.leftbanner h2{
    color: #FFFFFF;
    font-family: Georgia;
    font-size: 46px;
    font-weight: normal;
    line-height: 49px;
    margin-top: 50px;
    margin-bottom: 24px;
}
.leftbanner p{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}
.rightbanner{
    float: right;
    width: 421px;
    margin-top: 30px;
    margin-right: 20px;
}
.rightbanner img{
    margin-top: 10px;
    margin-right: 7px;
}
.postsection{
    background: #E4DFCB;
    padding: 30px;
    height: 300px;
}
.allpost{
    background: #ffffff;
    width: 942px;
    position: absolute;
    margin-top: -68px;

    
}
.samepost{
    width: 268px;
    float: left;
    padding: 20px;
    margin-right: 9px;
}
.samepost h3{
    color: #660000;
    font-family: Georgia;
    font-size: 18px;
    border-bottom: 1px solid #B2B2B2;
    padding-bottom: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.samepost h4{
    color: #666666;
    font-weight: bold;
}
.samepost img{

}
.samepost ul{
    margin: 0px;
    padding: 0px;
}
.samepost ul li{
    color: #666666;
    margin-left: 23px;
    line-height: 20px;

}
.samepost p{
    color: #666666;
    line-height: 20px;
}
.contentsection{
    background: #CEC6A2;
    height: 356px;
}
.leftcontent{
    width: 352px;
    float: left;
    margin-left: 20px;
}
.leftcontent h2{
    font-family: Georgia;
    font-size: 22px;
    color: #333333;
    border-bottom: 1px solid #807C6A;
    margin-top: 28px;
    margin-bottom: 16px;
    padding-bottom: 8px;
    font-weight: normal;
}
.leftcontent p{

}
.rightcontent{
    float: right;
    width: 587px;
}
.samearticle{
    width: 165px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}
.samearticle h2{
    font-family: Georgia;
    font-size: 22px;
    color: #333333;
    border-bottom: 1px solid #807C6A;
    margin-top: 28px;
    margin-bottom: 16px;
    padding-bottom: 8px;
    font-weight: normal;
}
.samearticle p{
    width: 139px;
    color: #333333;
    line-height: 18px;
}
.contentinp{
    float: left;
}
.contentinp input[type="text"]{
    padding: 4px;
    border: 1px solid #fff;
    width: 160px;
    margin-bottom: 23px;
    background: #fff;
    font-size: 13px;
    font-family: Verdana;
    color: #666666;
}
textarea{
    width: 348px;
    height: 95px;
    border: 1px solid #fff;
    background: #fff;
    font-size: 13px;
    font-family: Verdana;
    color: #666666;
}

.submitcont input[type="submit"]{
    padding: 9px;
    width: 74px;
    background: #fff;
    border: 1px solid #fff;
    margin-top: 10px;
    margin-right: 9px;
    font-size: 13px;
    font-family: Verdana;
    color: #666666;
}
.lowercontent{
    width: 561px;
}
.lowercontent p{
    float: left;
    background: #E4DFCB;
    padding: 8px;
    width: 252px;
    margin-right: 10px;

}
.lowercontent input[type="text"]{
    float: left;
    padding: 7px;
    width: 225px;
    background: #fff;
    border: 1px solid #fff;
    margin-right: 6px;
}
.lowercontent input[type="submit"]{
    padding: 7px;
    background: #fff;
    border: 1px solid #fff;
}
.footersection{
    background: #250705;
    height: 50px;
}
.leftfooter{
    float: left;
}
.leftfooter p{
    color: #ffffff;
    margin-left: 20px;
    margin-top: 17px;
}
.rightfooter{
    float: right;
}
.rightfooter p{
    color: #ffffff;
    margin-right: 20px;
    margin-top: 17px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
